/* font style */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
   .fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
} 
*/
/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common style */
.display-width{
    max-width: 1280px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.img-width{
    width: 100%;
}
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
}
.body-color{
    background-color: #f5f5f5;
}
.dark1{
    color: #0E0E0E;
}
.dark50{
    color: rgba(14, 14, 14, 0.50);
}
.dark70{
    color: rgba(14, 14, 14, 0.70);
}
.dark80{
    color: rgba(14, 14, 14, 0.80);
}
.green{
    color: #006A50;
}
.bg-primary{
    background-color: #C6E4D6;
}
section{
    margin-top: 80px;
}
/* nav section */
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0; 
}
nav li a{
    text-decoration: none;
}
nav a h1{
    font-size: 32px;
    font-weight: 700;
}
nav a button{
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: 600;
}
/* banner section */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 100px;
    gap: 50px;
    border-radius: 24px;
}
.banner-tag{
    font-size: 24px;
    font-weight: 500;
}
.banner-tittle{
    font-size: 56px;
    font-weight: 700;
    margin-top: 16px;
}
.banner-btn{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    cursor: pointer;
    margin-top: 24px;
}
/* pillars section */
.sections-tittle{
    font-size: 40px;
    font-weight: 700;
}
.cards{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.card-content{
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.card-tittle{
    font-size: 20px;
    font-weight: 700;
    margin: 24px 0 12px;
}
.card-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}